.container {
    position: relative; 
}

.formExchange {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.lastExchanges {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
}

.exchangeRates {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
}

.lastExchanges h1, .exchangeRates h1, .formExchange h1 {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}